@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
}

input, button, textarea {
  font-family: inherit;
}

button, a {
  cursor: pointer;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
  list-style: none;
  text-decoration: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.header {
  background: url("../../img/mainBG.jpg") no-repeat;
  min-height: 740px;
  background-position: center;
  position: relative;
}

.logo {
  margin-top: 20px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger__line {
  width: 100%;
  height: 3px;
  background-color: black;
}

.menu__body {
  display: none;
}

.menu__icon {
  display: block;
}

.menu__icon {
  display: block;
  width: 30px;
  height: 18px;
  position: relative;
  z-index: 5;
  cursor: pointer;
}

.menu__icon span {
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.menu__icon span:first-child {
  top: 0;
}

.menu__icon span:last-child {
  top: auto;
  bottom: 0;
}

.menu__icon.active span {
  -webkit-transform: scale(0);
  transform: scale(0);
}

.menu__icon.active span:first-child {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}

.menu__icon.active span:last-child {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

.menu__body {
  position: absolute;
  top: 0;
  right: 100%;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  z-index: 4;
}

.menu__body.active {
  right: 0;
}

.menu__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.menu__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 30px;
  gap: 0;
  height: 100%;
  width: 60%;
  background-color: #f15412;
  overflow: auto;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.menu__link {
  color: #fff;
  text-decoration: none;
}

.menu__link:hover {
  text-decoration: underline;
}

.menu__link {
  display: block;
  font-size: 30px;
  line-height: 70px;
}

/*--------------------/Меню--------------------*/
.header__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  margin-top: 112px;
}

.header__title h1 {
  max-width: 734px;
  font-size: clamp(2rem, calc(1.273rem + 3.64vw), 4rem);
}

.header__title p {
  font-size: clamp(0.75rem, calc(0.614rem + 0.68vw), 1.125rem);
  margin-top: 34px;
}

.header__blocks {
  background: #f7f7f7;
  width: 1110px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: -20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header__block {
  font-weight: 500;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__block h1 {
  color: #F7654A;
}

.header__block h4 {
  text-transform: uppercase;
  margin-top: 24px;
}

.header__block p {
  color: #999999;
  font-size: 1.8em;
  margin-top: 10px;
}

.ourProjects {
  margin-top: 250px;
}

.ourProject__title {
  text-align: center;
}

.ourProject__title h2 {
  font-size: clamp(0.75rem, calc(0.25rem + 2.5vw), 2.125rem);
  text-transform: uppercase;
  color: #404149;
}

.ourProject__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 60px;
}

.ourProject__card {
  max-width: 350px;
}

.ourProject__card h3 {
  position: relative;
  font-size: 2.4em;
  color: #404149;
  margin-top: 66px;
}

.ourProject__card h3::before {
  content: '';
  width: 55px;
  height: 6px;
  background: #F7654A;
  top: -15px;
  position: absolute;
}

.ourProject__card p {
  font-size: 1.6em;
  color: #999999;
  margin-top: 20px;
  text-align: left;
  width: 323px;
}

.footer {
  padding-top: 97px;
  padding-bottom: 100px;
}

.footer .logo {
  color: #484848;
  margin-bottom: 13px;
}

.footer h6 {
  color: #484848;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  /* 162.5% */
  position: relative;
}

.footer h6::after {
  content: '';
  display: block;
  width: 50%;
  height: 2px;
  background: #AE0F0F;
  margin-bottom: 13px;
}

.footer__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 auto;
  gap: 20px;
}

.footer_first p {
  color: #9E9E9E;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
  max-width: 342px;
  margin-bottom: 23px;
}

.footer__social--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 22px;
}

.footer__social--item {
  border-radius: 4px;
  border: 1px solid #C0C0C0;
  width: 46px;
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.footer__social--item:hover {
  border: 1px solid #0094FF;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 9px;
}

.footer_link {
  color: #A7A7A7;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
}

.footer_link:hover {
  color: #484848;
}

.footer__last address {
  color: #676767;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
  max-width: 252px;
  margin-bottom: 13px;
}

.footer__last button {
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #AE0F0F;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  /* 162.5% */
}

.copyrate {
  background: #121111;
  padding: 20px 0;
  text-align: center;
  color: #FFFFFF;
}

@media (max-width: 1200px) {
  .header__blocks {
    width: 900px;
  }
}

@media (max-width: 992px) {
  .header__blocks {
    width: 700px;
  }
  .header__title {
    margin-top: 0;
    top: 35%;
    position: absolute;
  }
}

@media (max-width: 768px) {
  .header__blocks {
    width: 500px;
  }
}

@media (max-width: 576px) {
  .header__blocks {
    width: auto;
    padding: 10px 15px;
    gap: 20px;
  }
  .ourProject__card {
    max-width: 300px;
  }
}

html,
body {
  font-size: 10px;
  scroll-behavior: smooth;
}

html.lock .menu__body,
body.lock .menu__body {
  display: block;
}

body {
  font-family: "Oswald", sans-serif;
  background: #FFFFFF;
}

body._lock {
  overflow: hidden;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

h1 {
  font-size: 6.4em;
}

h2 {
  font-size: 4em;
}

h4 {
  font-size: 3.4em;
}

.justify-content {
  width: calc(100% / 3);
}

.hidden {
  display: none;
}

svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}
