
$accent-color: #F7654A;
$white: #FFFFFF;
$black: #000000;

$ff-OpenSans: 'Open Sans', sans-serif;
$ff-Audiowide: 'Audiowide', sans-serif;
$ff-Marcellus: 'Marcellus', serif;

$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extraBold: 800;