
$accent-color: #F7654A;
$white: #FFFFFF;
$black: #000000;
$gray: #999999;
$dark: #404149;

$ff-Oswald: "Oswald", sans-serif;

$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extraBold: 800;