// Экстрабольшие девайсы (большие десктопы, >= 1200px)
@media (max-width: 1200px) {
  .header__blocks{
    width: 900px;
  }
}
// Большие девайсы (десктопы, >= 992px)
@media (max-width: 992px) {
  .header__blocks{
    width: 700px;
  }
  .header__title{
    margin-top: 0;
    top: 35%;
    position: absolute;
  }
}
// Средние девайсы («таблетки», >= 768px)
@media (max-width: 768px) { 
  .header__blocks{
    width: 500px;
  }
  
}
// Малые девайсы («ландшафтные телефоны», >= 576px)
@media (max-width: 576px) { 
  .header__blocks{
    width: auto;
    padding: 10px 15px;
    gap: 20px;
  }
  .ourProject__card {
    max-width: 300px;
  }
}


