.partners {
  background: $dark;
  padding: 100px 0;
  margin-top: clamp(1.875rem, calc(-0.852rem + 13.64vw), 9.375rem);
}
.partners__title {
  text-align: center;
  margin-bottom: clamp(1.5rem, calc(0.682rem + 4.09vw), 3.75rem);
  h2{
    font-size: 3.6em;
    font-weight: $fw-medium;
    color: $white;
    text-transform: uppercase;
  }
}
.partners__images {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 64px;
}